 <div class="container">
  <div class="header">
    <img src="../../assets/Icons/icon.jpg">
    <div class="name"><b>Tasty</b>Shop</div>
    <div class="time">Date: {{date|date:'medium'}}</div>
  </div>
  <div class="body">
    <div class="user-info">
      <div class="user-info-content">
        <p>From</p>
        <p style="font-weight: 600">TastyShop, Inc.</p>
        <p>15 Romana Srt</p>
        <p>Lviv Ukraine</p>
        <p>Phone: (123) 122-1233</p>
        <p>Email: support@gmail.com</p>
      </div>
      <div class="user-info-content">
        <p>To</p>
        <p style="font-weight: 600">{{user.personalData.name + ' ' + user.personalData.surname}}</p>
        <p>{{user.personalData.phoneNumber}}</p>
        <p>{{user.email}}</p>
      </div>
      <div class="user-info-content">
        <p style="font-weight: 600">invoice  #{{order.id}}</p>
        <p style="font-weight: 600">Order ID: {{order.id}}</p>
      </div>
    </div>
    <div class="product-title-info">
      <div class="product-quantity"><b>Quantity</b></div>
      <div class="product-title"><b>Product</b></div>
      <div class="product-description"><b>Description</b></div>
      <div class="product-subTotal"><b>Subtotal</b></div>
    </div>
    <div class="product-info">
      <div *ngFor="let orderProduct of order.orderProducts" class="product">
        <div class="product-quantity">{{orderProduct.quantity}}</div>
        <div class="product-title">{{orderProduct.product.title}}</div>
        <div class="product-description">{{orderProduct.product.description}}</div>
        <div class="product-subTotal">{{orderProduct.product.price * orderProduct.quantity}} $</div>
      </div>
    </div>
    <div class="total">
      <div class="left">
        <p style="font-size: 20px;">Payment Method:</p>
        <img *ngIf="payType == 'payPal'" class="pay-img" src="../../assets/Icons/payPal.jpg">
        <div *ngIf="payType == 'cash'" class="pay">Cash on delivery</div>
      </div>
      <div class="right">
        <p style="font-size: 20px;">Amount</p>
        <div class="price">
          <div style="font-size: 18px"><b>Total:</b></div>
          <div class="total-price">$ {{total}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
 <div (click)="print()" class="print">Print</div>
