<div class="container">
  <div class="left-menu">
    <div class="outer-container">
      <div routerLink="personalData" class="inner-container">
        <img src="assets/Icons/man-user-white.png">
        <div class="menu-selection">Personal data</div>
      </div>
      <div routerLink="users" class="inner-container">
        <img src="assets/Icons/users.png">
        <div class="menu-selection">Users</div>
      </div>
      <div routerLink="orders" class="inner-container">
        <img src="assets/Icons/shopping-cart-white.png">
        <div class="menu-selection">Orders</div>
      </div>
      <div  routerLink="productTree" class="inner-container">
        <img src="assets/Icons/list.png">
        <div  routerLink="productTree"   class="menu-selection">Content treeview</div>
      </div>
      <div class="sub">
      <div routerLink="productTree"  class="sub-inner-container"><div class="circle"></div>Products</div>
      <div  class="sub-inner-container"><div class="circle"></div>Advertisement</div>
      <div  class="sub-inner-container"><div class="circle"></div>Properties</div>
      </div>
      <div (click)="logout()" class="inner-container">
        <img src="assets/Icons/logout.png">
        <div class="menu-selection">Logout</div>
      </div>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
