
.inputs{
margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
input{
  height: 20px;
  width: 40%;
}

.btn{
  background-color: rgb(28, 99, 96);
  width: 30%;
  color: white;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
