p{
  margin: 10px;
  cursor: pointer;
}

.aside{
  padding-top: 50px;
  height: 100%;
  width: 20%;
}

.aside-header{
  padding-bottom: 10px;
  color: rgb(28, 99, 96) ;
  font-size: 4vh;
  text-align: left;
  margin: 20px;
  border-bottom: 2px solid rgb(28, 99, 96);
}
.aside-content{
  font-weight: 600;
 margin-left: 20px;
}

.selection {
  margin-top: 50px;
  height: 100%;
  width: 80%;
}
.wrapper{
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 200px;
}
