<div class="container">
  <div class="form">
    <div style="margin-left: 10px; margin-top: 10px" class="header">Shipping address</div>
    <form #form="ngForm">
      <div class="form-entry">
        <label style="height: 20px">Name</label>
        <div class="input-with-picture">
          <img class="input-img" src="../../assets/Icons/user-silhouette.png">
          <input [(ngModel)]="formObj.personalData.name" type="text" name="name">
        </div>
      </div>
      <div class="form-entry">
        <label>Surname</label>
        <div class="input-with-picture">
          <img class="input-img" src="../../assets/Icons/user-silhouette.png">
          <input [(ngModel)]="formObj.personalData.surname" type="text" name="surname">
        </div>
      </div>
      <div class="form-entry">
        <label>Phone number</label>
        <div class="input-with-picture">
          <img class="input-img" src="../../assets/Icons/call-answer.png">
          <input [(ngModel)]="formObj.personalData.phoneNumber" type="text" name="phoneNumber">
        </div>
      </div>
      <div class="form-entry">
        <label>Country</label>
        <div class="input-with-picture">
          <img class="input-img" src="../../assets/Icons/world.png">
          <input [(ngModel)]="formObj.personalData.address.country" type="text" name="country">
        </div>
      </div>
      <div class="form-entry">
        <label>Region</label>

        <div class="input-with-picture">
          <img class="input-img" src="../../assets/Icons/move-object.png">
          <input [(ngModel)]="formObj.personalData.address.region" type="text" name="region">
        </div>
      </div>
      <div class="form-entry">
        <label>City</label>

        <div class="input-with-picture">
          <img class="input-img" src="../../assets/Icons/placeholder.png">
          <input [(ngModel)]="formObj.personalData.address.city" type="text" name="city">
        </div>
      </div>
      <div class="form-entry">
        <label>Street</label>
        <div class="input-with-picture">
          <img class="input-img" src="../../assets/Icons/work-tools.png">
          <input [(ngModel)]="formObj.personalData.address.street" type="text" name="street"></div>
      </div>
      <div class="form-entry">
        <label>Number</label>
        <div class="input-with-picture">
          <img class="input-img" src="../../assets/Icons/home.png">
          <input [(ngModel)]="formObj.personalData.address.number" type="text" name="number">
        </div>
      </div>
    </form>
  </div>
  <div class="order">
    <div class="order-selection">
      <div class="header">Order-Summary</div>
      <div class="order-content">
        <table>
          <tr>
            <th width="70%">Product</th>
            <th width="30%">Total</th>
          </tr>
          <tr *ngFor="let pr of product">
            <td>{{pr.product.title}} <b style="color: black">x{{pr.quantity}}</b></td>
            <td>{{pr.product.price * pr.quantity}}$</td>
          </tr>
          <tr>
            <td><b style="color: black">Total</b></td>
            <td>{{total}}$</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="order-selection">
      <div class="header">Payment-Method</div>
      <div style="display: flex; flex-direction: column" class="order-content">
        <div class="toggle">
        <input #inp class="inp" name="pay" value="Paypal" type="radio" id="cash">
        <label class="label" for="cash">Cash on Delivery</label>
        </div>
        <div class="toggle">
        <input #inp1 class="inp" checked name="pay" value="Cash" type="radio" id="cart">
        <label class="label" for="cart">Via Paypal</label>
        </div>
        <img style="width: 80%; margin-left: 12px" src="../../assets/Icons/payPal.jpg">
        <div (click)="placeOrder(inp,inp1)" class="button">Place Order</div>
      </div>
    </div>
  </div>
</div>
