<header class="header unselectable">
  <div class="container">
    <div class="inner-header">

      <div (click)="router.navigate(['/'])" class="logo"><b>Tasty</b>Shop</div>

      <div *ngIf="isAnonimUser" class="log-sign">
        <div class="login">
          <img class="log-img" src="../assets/Icons/login%20(1).png">
          <h6 routerLink="/login">Login</h6>
        </div>
        <div class="login">
          <img class="log-img" src="../assets/Icons/house-key.png">
          <h6 routerLink="/register">Sign-up</h6>
        </div>
      </div>
      <div *ngIf="isAuthenticated" class="user">
        <div class="icon-container">
          <img class="icon" src="../assets/Icons/exchange-arrows-black.png">
          <div class="counter" [textContent]="compare"></div>
        </div>
        <div routerLink="userMenu/wishes" class="icon-container">
          <img class="icon" src="../assets/Icons/like.png">
          <div class="counter" [textContent]="like"></div>
        </div>
        <div (click)="showMiniBasket? showMiniBasket = false:showMiniBasket = true"
             [style.background-color]="showMiniBasket?'white':'rgb(28, 99, 96)'" class="icon-container">
          <img class="icon" src="../assets/Icons/shopping-cart.png">
          <div class="counter" [textContent]="shoppingCard"></div>
          <div *ngIf="showMiniBasket" class="basket-add">
            <div class="basket-count">You have {{shoppingCard}} goods in cart</div>
            <div class="product" *ngFor="let cartItem of productsInCart">
              <img class="picture-cart" [src]="'../../assets/Goods/' + cartItem.product.picture">
              <div class="item-info">
                <div style="font-size: 14px;">{{cartItem.product.title}}</div>
                <div
                  style="font-size: 11px;color: #888888">{{'Price: $ ' + cartItem.product.price * cartItem.quantity}}</div>
                <div style="font-size: 11px;color: #888888">{{'Quantity:' + cartItem.quantity}}</div>
              </div>
            </div>
            <div (click)="showCart($event)" class="view">View all carts</div>
          </div>
        </div>
        <div routerLink="userMenu/userInfo" class="profile">
          <img class="user-icon" [src]="user.personalData.picture == null?'../assets/Users/man_user.png':'../assets/Users/' + user.personalData.picture">
          <div style="font-weight: 600" class="text">{{user.username}}</div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!router.url.startsWith('/userMenu')" class="header-2">
    <div class="promo">everything you want</div>
    <div class="such-selection">
      <input #suchInp (click)="such(dropdown1, suchInp)" id="such" type="text">
      <div class="such-button">
        <img style="width: 15px; height: 25px; padding-top: 5px; padding-bottom: 5px" src="../assets/Icons/searching-magnifying-glass.png">
      </div>
      <div #dropdown1  class="dropdown1">
        <div *ngFor="let p of suchProducts" class="such-product">
          <img style=" width:40px; height: 30px; margin-left: 10px" [src]="'../assets/Goods/' + p.picture">
          <div routerLink="/" class="such-title">{{p.title}}</div>
        </div>
        <div *ngIf="suchProducts.length == 0" class="no-elem">
          <p>No matches</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!router.url.startsWith('/userMenu')" class="header-3">
    <nav class="nav">
      <a class="nav__link" style="padding-top: 15px;" routerLink="/">Home</a>
      <ul class="nav__link unselectable">
        <li *ngFor="let e of menuElements" #elem (dblclick)="navigateToMenu(e.name)"
            (click)="showList(elem,down)">{{e.name}}&nbsp;&nbsp;&nbsp;
          <div #down class="dropdown">
            <div [routerLink]="'/menu/' + sub.name" *ngFor="let sub of e.subCategories"
                 class="element right-arrow">{{sub.name}}
              <div class="dropleft">
                <div (click)="showGoods(elem,group.name,$event,down)" *ngFor="let group of sub.groups"
                     class="element">{{group.name}}</div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="main-selection">
  <main class="main">
    <router-outlet></router-outlet>
  </main>
</div>
<div *ngIf="!router.url.startsWith('/userMenu')" class="footer"></div>

