.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  width: 1100px;
}

.content {
  margin-left: -1px;
  margin-bottom: -1px;
  position: relative;
  height: 350px;
  border: 1px solid #eaeaea;
  width: 260px;
}

.text {
  font-size: 17px;
  text-align: center;
  margin: 10px;
  color: rgb(52, 73, 94)
}

img {
  padding: 20px 10px 10px;
}

p {
  color: snow;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
}

.block {
  position: absolute;
  top: 10px;
  left: 5px;
  text-transform: uppercase;
  text-align: center;
  background-color: darkgreen;
  border-radius: 20px;
  font-size: 14px;
  font-family: Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
  width: 93px;
  height: 24px;
}
.price{
  margin-left: 20px;
  font-size: 18px;
  color: rgb(0,128,153);
  font-weight: 600;
}
