<div class="container">
  <div [routerLink]="'/good/' + el.id" class="content" *ngFor="let el of goodsToShow">
    <div *ngIf="el.availableNumber>0" class="block"><p>Sale</p></div>
    <div style="background-color: rgb(255, 69, 0); width: 150px" *ngIf="el.availableNumber == 0" class="block"><p>Not
      Available</p></div>
    <img class="product-img" [src]="'../../assets/Goods/' + el.picture" [alt]="el.title">
    <div class="text">
      {{el.title}}
    </div>
    <div class="price">
      ${{el.price}}
    </div>
    <div class="selection">
      <div (click)="addToCard(el,modalLogin,modalBuy)" class="add">
        <img src="/assets/Icons/shopping-card-white.png" alt="01">
        <div class="text-cart">Add to card</div>
      </div>
      <div #img class="img">
        <img (click)="addToWishes(el,modalLogin)" class="hoverImg" src="/assets/Icons/like%20(1).png" alt="02">
      </div>
      <img class="hoverImg" src="/assets/Icons/weight-balance.png" alt="03">
    </div>
  </div>
</div>
<div *ngIf="pages.length != 0 && pages.length != 1" class="pages">
  <div (click)="changePage('dec')" class="arrow">‹‹</div>
  <div (click)="changePage(p)" [style.background-color]="currentPage == p?'rgb(0,128,128)':'white'"
       [style.color]="currentPage == p?'white':'black'"
       *ngFor="let p of pages" class="select-page">{{p}}</div>
  <div (click)="changePage('inc')" class="arrow">››</div>
</div>
<div #modalBuy class="modal-window toBasket">
  <div class="modal-content toBasketContent">
    <div (click)="modalBuy.style.display = 'none'" class="cross">x</div>
    <app-add-to-basket-modal (buttonClicked)="modalBuy.style.display = 'none'"></app-add-to-basket-modal>
  </div>
</div>
<div #modalLogin class="modal-window">
  <div class="modal-content">
    <div (click)="modalLogin.style.display = 'none'" class="cross">x</div>
    <app-login></app-login>
  </div>
</div>

