<div *ngIf="isDataPresent" class="container">
  <div class="content" *ngFor="let el of goodsToShow">
    <div *ngIf="el.availableNumber>0" class="block"><p>Sale</p></div>
    <div style="background-color: rgb(255, 69, 0); width: 150px" *ngIf="el.availableNumber == 0" class="block"><p>Not
      Available</p></div>
    <img [src]="'../../assets/Goods/' + el.picture" [alt]="el.title">
    <div class="text">
      {{el.title}}
    </div>
    <div class="price">
      ${{el.price}}
    </div>
    <div [style.pointer-events]="el.availableNumber<1?'none':'default'"  class="add">
      <img src="/assets/Icons/shopping-card-white.png" alt="01">
      <div (click)="moveToBasket(el,modalBuy)" class="text-cart">Move to cart</div>
    </div>
    <div (click)="deleteFromWishes(el)" class="cross">X</div>
  </div>
</div>
<div #modalBuy class="modal-window toBasket">
  <div class="modal-content toBasketContent">
    <div (click)="modalBuy.style.display = 'none'" class="crossModal">x</div>
    <app-add-to-basket-modal (buttonClicked)="modalBuy.style.display = 'none'"></app-add-to-basket-modal>
  </div>
</div>
<div *ngIf="isDataNotPresent" class="no-data">
  <div class="title-no-data">Your wishes are empty</div>
  <div class="massage-no-data">Add something and come back</div>
  <div routerLink="/" class="button-no-data">add wishes now</div>
</div>
