<div class="container">
  <div class="content" *ngFor="let el of goodsToShow">
    <div *ngIf="el.availableNumber>0" class="block"><p>Sale</p></div>
    <div style="background-color: rgb(255, 69, 0); width: 150px" *ngIf="el.availableNumber == 0" class="block"><p>Not
      Available</p></div>
    <img [src]="el.picture" [alt]="el.title">
    <div class="text">
      {{el.title}}
    </div>
    <div class="price">
      ${{el.price}}
    </div>
      <div  class="add">
        <img src="/assets/Icons/shopping-card-white.png" alt="01">
        <div class="text-cart">Move to cart</div>
    </div>
    <div class="cross">X</div>
  </div>
</div>
