.container{
  box-sizing: border-box;
  width: 60%;
  display: flex;
  flex-direction: row;
  margin: 100px auto;
}
.img{
  width: 50%;
}
img{
  box-sizing: border-box;
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
}
.info{
  margin-left: 10px;
  width: 50%;
}
.header{
  width: 100%;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.text{
  margin-top: 15px;
  font-family: sans-serif;
  font-size: 14px;
}
.buttons{
  margin-top: 10px;
  border-top: 2px solid #eaeaea;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
.button{
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 4%;
  padding: 10px;
  text-align: center;
  border: 1px solid #eaeaea;
  font-size: 14px;
  font-family: sans-serif;
}
.button:hover{
  transition: 1s;
  background-color: snow;
  border-color: rgb(0,128,128);
  color:rgb(0,128,128) ;
}
b{
  outline: none;
  cursor: pointer;
}
.modal-window {
  display: none;
  position: fixed;
  z-index: 9999999999999999999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}
.toBasket{
  padding-top: 200px!important;
}
.toBasketContent{
  width: 40% !important;
}
.crossModal{
  font-family: sans-serif;
  font-size: 30px;
  color: darkgray;
  position: absolute;
  right: 15px;
  top: 0;
  cursor: pointer;
  outline: none;
}
.modal-window {
  display: none;
  position: fixed;
  z-index: 9999999999999999999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}
.cross{
   font-family: sans-serif;
   font-size: 30px;
   color: darkgray;
   position: absolute;
   right: 15px;
   top: 0;
   cursor: pointer;
   outline: none;
 }
